.cabeçalho__menu-haburguer {
    width: 4em;
    height: 4em;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.conteiner {
    display: flex;
    align-items: center;
}

.conteiner__img {
    padding: 0.5em;
}

.lista__menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 10;
}

.conteiner__botao:checked ~ .lista__menu {
    display: block;
}

.conteiner__botao:checked ~ .conteiner__rotulo > .cabeçalho__menu-haburguer {
    background-image: url("../assets/Menu Aberto.svg");
}

.conteiner__botao:checked ~ .conteiner__rotulo {
    background: var(--azul-degrade);
}

.conteiner__botao {
    display: none;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text ;
    text-transform: uppercase;
}

.conteiner__titulo {
    display: none;
}

.opçoes {
    display: none;
}

.conteiner__botao-2 {
    display: none;
}

.conteiner__paragrafo {
    display: none;
}

@media screen and (min-width: 1024px) {

    .conteiner__titulo,
    .conteiner__titulo-negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    
    .conteiner__titulo {
        font-weight: 400;
        display: block;
    }

    .conteiner__titulo-negrito {
        font-weight: 700;
    }

    .opçoes {
        display: flex;
    }

    .opçoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opçoes__link{
        text-decoration: none;
        color: var(--preto);
    }

    .conteiner__img-transparente,
    .cabeçalho__menu-haburguer {
        display: none;
    }

    .conteiner__botão:checked ~ .lista__menu {
        display: block;
        width: auto;
    }

    .conteiner__botão {
        display: none;      
    }

    .conteiner__botão:checked ~ .opçoes__rotulo  .opçoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opçoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover  .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

}

@media screen and (min-width: 1728px) {
    
    .conteiner__paragrafo {
        display: block;        
    }

    .cabeçalho {
        padding: 0 2em;
    }

    .opçoes {
        margin-right: auto;
    }

    .conteiner__link {
        text-decoration: none;
        color: var(--preta);
        display: flex;
        align-items: center;
    }

}